name: Push Modules Automatically
on:
  workflow_dispatch:
jobs:
  push-modules:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      - name: Commit and Push
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git add .
          git commit -m "Add modules via workflow" || echo "No changes"
          git push https://x-access-token:${GH_TOKEN}@github.com/paulosantanna/Projeto-coletores.git HEAD:main
